<!--Header code Using partials with handle bar-->
<div class="header">
  <a href="/" class="logo" disabled="disabled">{{ApplicationName}}</a>
  <div class="header-right">
    <a class="active" href="https://hariomgola.github.io">Portfolio</a>
    <a class="" href="/">Home</a>
    <a class="" href="/login">Login</a>
    <a class="" href="/logout">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/private">Private</a>
    <a class="active" href="https://hariomgola.github.io/resume/">Hire Me</a>
  </div>
</div>
<!--Header code Using partials with handle bar-->